<!-- Header section with current location + # of restaurants added -->
<div class="flex flex-col m-2 sm:flex-row bg-white rounded-lg shadow">
  <div class="text-center grow w-full max-w-sm p-1 m-0 text-black sm:p-2 md:p-3">
      <h2>There are {{restaurants.length}} restaurants <br> to choose from!</h2>
  </div>
  <div class="grow w-full max-w-sm p-1 m-0 text-black sm:border-l border-gray-200 sm:p-2 md:p-3">
    <h2 class="text-center">Your Location</h2>
    <div class="flex flex-row justify-evenly">
      <h2>Latitude:&nbsp</h2>
      <div class="pr-2" id="latitude"></div>
      <h2>Longitude:&nbsp</h2>
      <div id="longitude"></div>
    </div>
  </div>
</div>
{{!-- {{restaurants.length}} --}}

<!-- Loop over each object in the projects array -->
<div class="flex flex-wrap justify-evenly">
{{#each restaurants as |restaurant| }}
<div class="content-center md:w-96 p-6 m-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 w-full">
  <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
    <h2 class="text-[#184c4c]">
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
    </h2>
    
  </div>
  <div class="font-bold text-[#46ada1]">
    <p class=""><span class="dollar-amount">{{format_amount restaurant.meals_available}}</span>&nbspSurprise Boxes available!</p>
  </div>
  <div class="font-normal text-gray-700">
    <p>
      {{restaurant.cuisine}}
    </p>
    <p class="hidden lat-{{@index}}" data-lat="{{restaurant.lat}}">
      Latitude: {{restaurant.lat}}
    </p>
    <p class="hidden lon-{{@index}}" data-lon="{{restaurant.lon}}">
      Longitude: {{restaurant.lon}}
    </p>
    <p>Distance: <span class="distance-{{@index}}"></span> miles</p>
    <p>Created by {{restaurant.user.name}} on {{format_date restaurant.date_created}}</p>
  </div>
</div>
{{/each}}
</div>

<script src="./js/homepage.js"></script>
