<!-- Loop over each object in the projects array -->
{{#each restaurants as |restaurant| }}
<div class="content-center block max-w-sm p-8 m-3 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
  <div class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      <a href="/restaurant/{{restaurant.id}}">{{restaurant.name}}</a>
    </h2>
    
  </div>
  <div class="font-normal text-green-400">
    <p class=""><span class="dollar-amount">{{format_amount restaurant.meals_available}}</span>&nbsp meals available!</p>
  </div>
  <div class="font-normal text-gray-700 dark:text-gray-400">
    <p>
      {{restaurant.cuisine}}
    </p>
    <p>Created by {{restaurant.user.name}} on {{format_date restaurant.date_created}}</p>
  </div>
</div>
{{/each}}
